body{
	background: #562;
    text-align: center;
}
form{
	margin: auto;
	width: 30%;
	padding: 30px;
	background: #450;
}
input{
	width: 90%;
	margin-bottom: 20px;
}
input[type="submit"]{
	width: 50%;
	text-transform: uppercase;
	background: #9b4;
}
input:focus{
	background: #360;
}
textarea{
	min-width: 90%;
	max-width: 90%;
	min-height: 100px;
	max-height: 200px;
}
select{
	display: block;
	width: 60%;
	margin: 20px 0 20px 10px;

}
p{
	color: #ff0;
}
