body{
	background: #562;
    text-align: center;
}
form{
	margin: auto;
	width: 30%;
	padding: 30px;
	background: #450;
}
input{
	width: 70%;
	margin-bottom: 20px;
}
input[type="submit"]{
	width: 30%;
}
input:focus{
	background: #9b4;
}
